a:active {
    font-weight: bold;
}
a {
    color: white;
}
.bold {
    font-weight: bold;
}
.menu {
    display: flex;
}
.container {
    height: 70px;
    background-color: #2b2b2b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}